html {
    user-select: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 30px;
}

#preface {
    font-size: 32px;
    font-weight: bold;
}

#desc {
    font-size: 24px;
}

.title {
    font-weight: lighter;
    font-size: 48px;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
}
